<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @xemoji.category %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @xemoji.filename %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @xemoji.keywords %>
</p>

