<h1></h1>
<div class="social-nav">
<ul>
<li><span class="social-nav-item"><a target="_blank" href="https://instagram.com/dreaquintero/" title="Instagram"><div class="social-icon instagram">&nbsp;</div>Follow the artist</a></span></li>
<li><span class="social-nav-item"><a target="_blank" href="https://twitter.com/sadleb/" title="Twitter"><div class="social-icon twitter">&nbsp;</div>Follow the developer</a></span></li>
</ul>
</div>

